<% if logged_in? %>

<h1 class="title">Members</h1>

<% @user.each do |user, index| %>
<div class="labox">
<div class="cardbox">
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-header"><a href="/sessions/<%=user.id%>" class="memberlink">Member</a></div>
  <div class="card-body">
    <h5 class="card-title"><%= user.last_name %></h5>
    <p class="card-text"><%= user.first_name%></p>
    <p class="card-text"><%= user.email%></p>
  </div>
</div>
</div>
</div>
<% end %>

<% else %>

<p> Sorry, you can't see our precious list. You need to log in or sign up ! </p>

<% end %>
