<% if logged_in? %>

<div class="labox">
<div class="cardbox">
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Member</div>
  <div class="card-body">
    <h5 class="card-title"><%= @user.last_name %></h5>
    <p class="card-text"><%= @user.first_name%></p>
    <p class="card-text"><%= @user.email%></p>
  </div>
</div>
</div>
</div>

<% else %>

<p> Mmh.. that's not your profile. Or you need to log in or sign up ! </p>

<% end %>
