body {
  background-color: #F0EAD6;
  font-variant: small-caps;
}

h1, p {
  display: flex;
  justify-content: center;
  padding: 15px;
}

a {
  color: #dfd4b9!important;
}

.memberlist {
  color: #FF6F61!important;
  display: flex;
  justify-content: center;
}

.row {
  padding: 30px;
  color: #FF6F61!important;
}

.memberlink, .card-header {
  color: #FF6F61!important;
}

.labox {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
