<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">✴️ The Private Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if logged_in? %>
      <a class="nav-item nav-link" href="/members">Members</a>
      <a class="nav-item nav-link" href="/sessions/<%=current_user[:id]%>">Profil</a>
      <% if current_user? %>
      <a class="nav-item nav-link" href="/sessions/<%=current_user[:id]%>/edit">Edit profil</a>
      <%end%>
      <a class="nav-item nav-link" href="/logout" data-method="delete">Log out</a>
      <% else %>
      <a class="nav-item nav-link active" href="/signup">Sign up <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/login">Log in</a>
      <% end %>
    </div>
  </div>
</nav>
